<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ZHIPU_API_KEY</key>
    <string>c53e262c05f04933bcbe640421c3e73c.1Q7lrtPfdmJuu1NU</string>
    <key>ZHIPU_BASE_URL</key>
    <string>https://open.bigmodel.cn/api/paas/v4</string>
    <key>ZHIPU_OCR_MODEL</key>
    <string>glm-4v-flash</string>
    <key>ZHIPU_CHAT_MODEL</key>
    <string>glm-4-flash</string>
</dict>
</plist>
